@import "../components/foundation/scss/normalize";
@import "../components/bourbon/bourbon";

// Foundation
$color-koma-red: #A0000B;
$base-spacing: 50px;

@import "settings";
@import "foundation";

// custom components
@import "modules/module-fonts";
@import "modules/module-font-styles";

@import "modules/module-navigation";
@import "modules/angle-slider";
@import "modules/schema";

@import "modules/module-home-sections";
@import "modules/module-progress-bar";
@import "modules/module-page-footer";

// spacing
.mgr-full {
    margin-bottom: $base-spacing;
}

.mgr-half {
    margin-bottom: $base-spacing / 2;
}

.mgr-third {
    margin-bottom: $base-spacing / 2;
}


.m-nav .m-nav--lang {
    display: none;
}

.l-section {
    @include clearfix();
    padding-top: $base-spacing;
    padding-bottom: $base-spacing;
}

.m-carousel {
    width: 100%;
    height: 800px;
    overflow: hidden;
    .item {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.svg-button {

    width: 54px;
    height: 54px;

    #button {
        opacity: .5;
    }

    &.mm-white {
        #button {
            stroke: #fff;
        }
    }
}

a:hover {
    .svg-button #button {
        opacity: 1;
    }
}

.tmp-bigimage {
    background-color: darkgray;
    height: 600px;
}

.tmp-header {
    height: 800px;
    width: 100%;

    @media #{$small-up} {
        background-color: darkblue;
    }
    @media #{$medium-up} {
        background-color: pink;
    }
    @media #{$large-up} {
        background-color: greenyellow;
    }
    @media #{$xlarge-up} {
        background-color: orange;
    }
    @media #{$xxlarge-up} {
        background-color: #800080;
    }

}
body {
    @media #{$small-up} {
        .row {
            width: 90%;
            overflow: hidden;
        }
    }
    @media #{$xxlarge-up} {
        .row {
            width: 100%;
        }
    }

}
