@import "../components/foundation/scss/normalize";
@import "../components/bourbon/bourbon";

// Foundation
$color-koma-red: #c20e1a;
$color-koma-red-slider: #A0000B;
$base-spacing: 50px;
$navbar-height: 80px;

@import "settings";
@import "foundation";

// custom components
@import "modules/module-fonts";
@import "modules/module-font-styles";

@import "modules/module-navigation";
@import "modules/angle-slider";
@import "modules/schema";

@import "modules/module-home-sections";
@import "modules/module-progress-bar";
@import "modules/module-page-footer";




// html spacing classes
.mgr-full {
    margin-bottom: $base-spacing;
}

.mgr-double {
    margin-bottom: $base-spacing * 2;
}

.mgr-half {
    margin-bottom: $base-spacing / 2;
}

.mgr-third {
    margin-bottom: $base-spacing / 2;
}


.m-nav .m-nav--lang {
    //   display: none;
}

.l-page {

    padding-top: $navbar-height;

    &.l-page_home,
    &.l-page_pavilon,
    &.l-page_blog {
        padding-top: 0;
    }

}

.l-section {
    @include clearfix();
    padding-top: $base-spacing;
    padding-bottom: $base-spacing;

    h1 {
        margin-top: -0.2em;
    }
}

.m-carousel {
    width: 100%;
    height: 800px;
    overflow: hidden;
    .item {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.svg-button {

    width: 54px;
    height: 54px;

    #button {
        opacity: .5;
    }

    &.mm-white {
        #button {
            stroke: #fff;
        }
    }
}

.icon-outside {
    position: relative;
    &:before {
        content: " ";
        width: 70px;
        height: 70px;
        //float: right;
        position: relative;
        display: block;
        //position: absolute;
        //left: -90px;
        margin-bottom: $base-spacing / 3;
        background-position: 0% 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }

}

.i-bulb {
    &:before {
        background-image: url("/assets/ikony/zarovka.svg");
    }
}

.i-clock {
    &:before {
        background-image: url("/assets/ikony/stopky.svg");
    }
}

.i-elegant {
    &:before {
        background-image: url("/assets/ikony/elegantne.svg");
    }
}

a:hover {
    .svg-button #button {
        opacity: 1;
    }
}

//
.m-blog-item {

    margin-bottom: $base-spacing / 2;
    position: relative;

    .m-item--hed {
        @include fnt-primary-body-m();
        padding: 8px 16px;
        padding-bottom: 12px;
        background: #FBFBFB;
        margin: 0;

        a {
            display: block;
            width: 100%;
        }
    }

    .m-item--image {
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;

        img { width: 100%; }
    }

    .m-item--meta {
    }

    .m-item--section {
        position: absolute;
        top: 14px;
        left: 14px;

        font-size: rem-calc(12);

        display: block;
        background-color: #000;
        color: white;

        text-transform: uppercase;
        padding: 4px 8px;

        &:hover {
            background-color: $color-koma-red;
        }
    }

    &:hover {
        a {
            color: white;
        }
        .m-item--hed {
            background-color: $color-koma-red;
            color: white;
        }
    }

    &.mm-subhero {

        .m-item--hed {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;

            font-size: rem-calc(20);
            color: white;
            background-color: rgba(0, 0, 0, .56);
            a {
                color: white;
            }
        }

        .m-item--section {
            font-size: rem-calc(15);
        }

        &:hover {
            .m-item--hed {
                background-color: $color-koma-red;
                text-decoration: underline;
            }
        }
    }

    &.mm-featured {
        .m-item--section {
            background-color: $color-koma-red;
            color: white;

            &:hover {
                background-color: $black;
            }
        }
    }

}

.m-list {

     header > h2 {
         font-size: rem-calc(16);
         text-decoration: underline;
         margin-bottom: $base-spacing / 2;
     }


    .m-item {
        font-size: rem-calc(16);
        border-bottom: 1px solid #eee;
        padding: 10px 0;
        padding-bottom: 8px;
        * {
            display: inline;
        }

        .m-item--hed {
            line-height: 1.2em;
            font-size: rem-calc(16);
            a {
                color: $koma;
                &:hover {
                    color: $color-koma-red;
                }
            }
        }

        .m-item--meta {
            @include fnt-primary-headline();
            line-height: 1.2em;
            font-size: rem-calc(16);
            display: inline;
            color: #777;

            & > * {
                &:before {
                    display: inline;
                    content: "/";
                    padding-right: .22em;
                }
            }
        }


        &:last-of-type {
            border-bottom: none;
            margin-bottom: $base-spacing;
        }

    }
}

//

.m-theme {
    background-image: url("/assets/file-a.jpg");
    background-position: center center;
    background-size: cover;
    height: 472px;
}

//

.m-partner {

    text-align: center;

    .m-item--image {
        margin-bottom: $base-spacing / 3;
    }
    .m-item--hed {
        @include fnt-primary-body-m();
        font-weight: bold;
    }
    .m-item--description {
        color: #777;
    }

}

.l-partner_large .m-partner {

    .m-item--image {
        margin-bottom: $base-spacing / 2;
    }

    .m-item--hed {
        @include fnt-primary-headline();
    }

    .m-item--description {
        padding: 0 25%;
    }
}

.m-page-footer .m-partner {

    margin-bottom: $base-spacing / 2;

    .m-item--hed {
        font-weight: 400;
        font-size: rem-calc(15);
        color: white;

        text-shadow: 0 1px 0 rgba(0, 0, 0, .5);

        a {
            color: white;
            &:hover {
                color: white;
                text-decoration: underline;
            }
        }
    }
}

//


.m-story {

    .m-item--hed {
        margin-bottom: $base-spacing / 3;
        font-weight: 300;
    }

    .m-item--meta {
        color: #999;
        margin-bottom: $base-spacing ;
    }

    .m-item--image {
        position: relative;
        width: 100%;
        > img {
            width: 100%;
            height: auto;
        }
    }

    h5 {
        @include fnt-primary-body-m();
        text-decoration: underline;
        font-size: rem-calc(16);
        font-weight: 400;
        margin-bottom: $base-spacing * .75;
    }

}

aside .m-story {
    margin-top: 0 !important;
    margin-bottom: $base-spacing / 3;

    .m-item--hed {
        @include fnt-primary-body-m();
        font-size: rem-calc(16);
        font-weight: 400;
        margin: 0;
        a {
            color: #777;
            &:hover {
                color: $color-koma-red;
            }
        }
    }
}

aside h2 {
    @include fnt-primary-headline();
    font-size: rem-calc(16);
    font-weight: 400;
}


.l-page_single .m-story {
    margin-top: $base-spacing ;
}
//

.l-page_single .breadcrumbs {
    margin-top: $base-spacing;
}




//

.m-light-nav {

    .m-icon {
        & > i { display: none ;}

        background-repeat: no-repeat;
        background-position: top center;

        display: inline-block;
        height: 19px;
        width: 19px;
        margin: 0 2px;

        &.mm-top { background-image: url("/assets/ikony/nav-small-top.png"); width: 21px; height: 21px; margin-right: 20px; }
        &.mm-next { background-image: url("/assets/ikony/nav-small-next.png");}
        &.mm-prev { background-image: url("/assets/ikony/nav-small-prev.png");}


        &:hover {
            background-position: bottom center;
        }
    }

    &.mm-big {
        .m-icon {
            height: 50px;
            width: 50px;
            margin: 0 8px;

            &.mm-top { background-image: url("/assets/ikony/nav-top.png"); }
            &.mm-next { background-image: url("/assets/ikony/nav-next.png");}
            &.mm-prev { background-image: url("/assets/ikony/nav-prev.png");}
        }
    }

}

//

.l-page_blog .pagination {
    padding: 0 50px;
}

//

.tmp-bigimage {
    background-color: darkgray;
    height: 600px;
}

.tmp-header {
    height: 800px;
    width: 100%;

    @media #{$small-up} {
        background-color: darkblue;
    }
    @media #{$medium-up} {
        background-color: pink;
    }
    @media #{$large-up} {
        background-color: greenyellow;
    }
    @media #{$xlarge-up} {
        background-color: orange;
    }
    @media #{$xxlarge-up} {
        background-color: #800080;
    }

}

body {
    @media #{$small-up} {
        .row {
            width: 90%;
            overflow: hidden;
        }
    }
    @media #{$xxlarge-up} {
        .row {
            width: 100%;
        }
    }

}
