.l-schema {

    @include grid-row();

    position: fixed;
    z-index: 1;
    //transform: scale(2);
    transform-origin: 0 0;

    //background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    width: 100%;
    height: 100%;

}


.m-schema {

    .np1 { background-image: url("/assets/pavilon-sm/p0-1.png")}
    .np2 { background-image: url("/assets/pavilon-sm/p0-2.png")}
    .np3 { background-image: url("/assets/pavilon-sm/p1-1.png")}
    .np4 { background-image: url("/assets/pavilon-sm/p1-2.png")}
    .np5 { background-image: url("/assets/pavilon-sm/p2-1.png")}
    .np6 { background-image: url("/assets/pavilon-sm/p2-2.png")}
    .np7 { background-image: url("/assets/pavilon-sm/p3-1.png")}

    overflow: hidden;

    .m-schema--slides {
        width: 840px;
        height: 737px;

        border: 1px solid orange;
        overflow: hidden;
        position: absolute;
        right: 10%;
        top: 20%;
        margin: auto;
    }
    .m-schema--image {

        width: 840px;
        height: 637px;

        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 100% auto;

        position: absolute;
        top: 100px;
    }

    .m-schema--label {

        width: 30%;
        height: 800px;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 70% auto;

        //border: 1px solid red;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .m-schema--overlay {
        position: absolute;
        top: 0;

      //  border: 3px solid orange;
        height: 300px;
        width: 100%;
        @include linear-gradient(to top, rgba(255,255,255,0), white, $fallback: transparent);
    }

}

.m-schema-control {
    text-align: center;
    background-color: rgba(200,200,200,.5);
    width: 100%;
    height: 20px;
}
.m-schema-spacer {
    width: 100%;
    height: 300px;
}

#skrollr-body {
    position: relative;
    z-index: 50;
}
.skrollr-wrap {
    background-color: white;

}

.to-fix {
    height: 900px;
    border: 2px solid orange;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
